<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% if(!community) {%>
                    <% include ../partials/headerLoggedIn.ejs %>
                 <%} else { %>
                    <% include ../partials/headerSignUp.ejs %>
                   <% } %>
                <% include ../partials/tab4.ejs %>
                <div class="community">
                    <div class="jumbotron text-center">
                <h1>Community Posts</h1>
                <nav>
                    <button class="btn btn-primary"><a id="communityShare"href="/community/new">+ SHARE YOUR BUILD! </a></button>
                </nav>
            </div>
        </div>

                <div class="allCommunityCards">

                    <% for(let i = 0; i < community.length; i++){ %>
                            <div class="card" >
                                <div class="cardCommunityImage">
                                    <img class="card-img-top" src="<%=community[i].image%>" alt="<%=community[i].name%>'s image">
                                </div>
                                    <div class="cardCommunityBody">
                                        <div id="text" class="caption text-center">
                                            <h5 class="card-title"><a href="/community/<%=community[i].id%>"><span id="communityP" class="glyphicon glyphicon-user"></span>
                                                <%=community[i].name%></h5>
                                            <p class="cardCommunityText">
                                                Design Comments: <%=community[i].description%>.</p>
                                        </div>
                                    </div>
                                </div>
                    <% } %>
                </div>
            </div>
        </div>

        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>

    </body>
</html>
