<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/header.ejs %>
                <% include ../partials/tab2.ejs %>

                    <!-- <p>Are you new to building solar-kits? Check out this battery guide!</p> -->
                    <div class="jumbotron text-center">
                    <h2>Build My Kit</h2>
                    <p>Learn how much each item costs and have the option to buy</p>
                </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Part</th>
                                <th>Select</th>
                                <th>Price</th>
                                <th>Quanitity</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Battery</td>
                                <td>
                                    <% if(foundUser.battery.part){ %>
                                        <%=foundUser.battery.part%>
                                        <button type="submit" id="edit"class="btn btn-default btn-md"><a href="/solar/battery"><span class="glyphicon glyphicon-edit"></span>Change</button>

                                        <% } else { %>
                                            <div class="build-edit">
                                                <button><a href="/solar/battery">Choose Battery</a></button>
                                                <%}%>

                                    </div>
                                 </td>
                                <td>$<%=foundUser.battery.price%></td>
                                <td>
                                    <button type="submit" id="edit"class="btn btn-default btn-md"><a href="/solar/battery">+</button>
                                    <button type="submit" id="edit"class="btn btn-default btn-md"><a href="/solar/battery">-</button>
                                </td>
                                <td>
                                    <form action="/solar/build/battery?_method=DELETE" method="POST">
                                        <button type="submit" id="delete" class="btn btn-default btn-md">
                                       <span class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                </td>
                                <td>
                                    <a target="_blank" href="<%=foundUser.battery.link%>" id="buy" class="btn btn-default btn-md" role="button"><span id="buyIcon" class="glyphicon glyphicon-tags"></span> Buy</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Solar Panels</td>
                                <td>
                                    <% if(foundUser.panels.part){ %>
                                        <%=foundUser.panels.part%>
                                        <button type="submit" id="edit"class="btn btn-default btn-md"><a href="/solar/panels"><span class="glyphicon glyphicon-edit"></span>Change</button>

                                        <% } else { %>
                                            <div class="build-edit">
                                                <button><a href="/solar/panels">Choose Solar Panels</a></button>
                                                <%}%>
                                </td>

                                <td>$<%=foundUser.panels.price%></td>
                                <td>
                                    <button type="submit" id="edit"class="btn btn-default btn-md"><a href="/solar/panels">+</button>
                                        <button type="submit" id="edit"class="btn btn-default btn-md"><a href="/solar/panels">-</button>
                                </td>
                                <td>
                                    <form action="/solar/build/panels?_method=DELETE" method="POST">
                                        <button type="submit" id="delete" class="btn btn-default btn-md">
                                       <span class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                </td>
                                <td>
                                    <a target="_blank" href="<%=foundUser.panels.link%>" id="buy" class="btn btn-default btn-md" role="button"><span id="buyIcon" class="glyphicon glyphicon-tags"></span> Buy</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Inverter</td>
                                <td>
                                    <% if(foundUser.inverter.part){ %>
                                        <%=foundUser.inverter.part%>
                                        <button type="submit" id="edit"class="btn btn-default btn-md"><a href="/solar/inverter"><span class="glyphicon glyphicon-edit"></span>Change</button>

                                        <% } else { %>
                                            <div class="build-edit">
                                                <button><a href="/solar/inverter">Choose Inverter</a></button>
                                                <%}%>
                                </td>
                                <td>$<%=foundUser.inverter.price%></td>
                                <td>
                                    <button type="submit" id="edit"class="btn btn-default btn-md"><a href="/solar/battery">+</button>
                                        <button type="submit" id="edit"class="btn btn-default btn-md"><a href="/solar/battery">-</button>
                                </td>
                                <td>
                                    <form action="/solar/?_method=DELETE" method="POST">
                                        <button type="submit" id="delete" class="btn btn-default btn-md">
                                       <span class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                </td>
                                <td>
                                    <a target="_blank" href="<%=foundUser.inverter.link%>" id="buy" class="btn btn-default btn-md" role="button"><span id="buyIcon" class="glyphicon glyphicon-tags"></span> Buy</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Charge Control</td>
                                <td>
                                    <% if(foundUser.chargecontrol.part){ %>
                                        <%=foundUser.chargecontrol.part%>
                                        <button type="submit" id="edit" class="btn btn-default btn-md"><a href="/solar/chargecontrol"><span class="glyphicon glyphicon-edit"></span> EDIT</button>

                                        <% } else { %>
                                            <div class="build-edit">
                                                <button><a href="/solar/chargecontrol">Choose Charge Controller</a></button>
                                                <%}%>
                                 </td>

                                <td>$<%=foundUser.chargecontrol.price%></td>
                                <td>
                                    <button type="submit" id="edit" class="btn btn-default btn-md"><a href="/solar/battery">+</button>
                                        <button type="submit" id="edit" class="btn btn-default btn-md"><a href="/solar/battery">-</button>
                                </td>
                                <td>
                                    <form action="/solar/?_method=DELETE" method="POST">
                                        <button type="submit" id="delete" class="btn btn-default btn-md">
                                       <span class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                </td>
                                <td>
                                    <a target="_blank" href="<%=foundUser.chargecontrol.link%>" id="buy" class="btn btn-default btn-md" role="button"><span id="buyIcon" class="glyphicon glyphicon-tags"></span> Buy</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                        <%total=foundUser.battery.price + foundUser.panels.price + foundUser.inverter.price + foundUser.chargecontrol.price%>
                        Total= <span class="bold">$<%=total%></span>
                        <nav>
                            <br>
                            <button type="button" class="btn btn-default btn-sm"><a href="/solar"><span class="glyphicon glyphicon-flash"></span>Back to my data table</a></button>
                        </nav>
                </div>


            <!-- </div>
        </div> -->

        <footer id="footer">
            <% include ../partials/footer.ejs %>
        </footer>

    </body>
</html>
