<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/header.ejs %>
        <h1>Solar Index Page</h1>
        <% if(username){ %>
            Welcome, <%=username%>
        <% } %>
        <div class="solarButtons">
            <div class="inputData">
                <button><a href="/solar/new">Input New Appliance</a></button>
            </div>
            <div class="buildSolar">
                <nav>
                    <button><a href="/solar/build">Build my own kit</a></button>
                </nav>
            </div>

        </div>
        <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Appliance Name</th>
                    <th>Watts</th>
                    <th>Voltage</th>
                    <th>Amps</th>
                    <th>Hour Usage</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < solar.length; i++){ %>
                <tr>
                    <td><a href="/solar/<%=solar[i].id%>">
                        <%=solar[i].applianceName%>
                    </a></td>
                    <td><%=solar[i].watts%></td>
                    <td><%=solar[i].voltage%></td>
                    <td><%=solar[i].amps%></td>
                    <td><%=solar[i].hourUsage%></td>
                    <td>
                        <form action="/solar/<%=solar[i].id%>/edit" method="EDIT">
                            <button type="submit" id="edit"class="btn btn-default btn-md">EDIT</button>
                        </form>
                    </td>
                    <td>
                        <form action="/solar/<%=solar[i].id%>?_method=DELETE" method="POST">
                            <button type="submit" id="delete" class="btn btn-default btn-md">
                           <span class="glyphicon glyphicon-trash"></span>Trash</button>
                        </form>
                    </td>
                </tr>
            </tbody>

            <% } %>
        </table>
        <div class="totalWatts">
        <% let totalWatts = 0 %>
        <% for(let i = 0; i < solar.length; i++){ %>
            <%totalWatts=solar[i].watts + totalWatts%>
            <% } %>
            Total: <%=totalWatts%> Watts
        </div>
        </div>
        <nav>
            <button type="button" class="btn btn-default btn-sm"><a href="/"><span class="glyphicon glyphicon-home"></span>Back to Home Page</a></button>
        </nav>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>
