<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <h1>Solar Index Page</h1>
        <% if(username){ %>
            Welcome, <%=username%>
        <% } %>
        <div class="solarButtons"
            <div class="inputData">
                <button><a href="/solar/new">Input New Appliance</a></button>
            </div>
            <div class="buildSolar"
                <p>Already know your power needs?<button>Build your own kit</button></p>
            </div>
        </div>
        <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Appliance Name</th>
                    <th>Watts</th>
                    <th>Voltage</th>
                    <th>Amps</th>
                    <th>Hour Usage</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < solar.length; i++){ %>
                <tr>
                    <td><a href="/solar/<%=solar[i].id%>">
                        <%=solar[i].applianceName%>
                    </a></td>
                    <td><%=solar[i].watts%></td>
                    <td><%=solar[i].voltage%></td>
                    <td><%=solar[i].amps%></td>
                    <td><%=solar[i].hourUsage%></td>
                    <td>
                        <form action="/solar/<%=solar[i].id%>/edit" method="EDIT">
                            <input type="submit" value="EDIT"/>
                        </form>
                    </td>
                    <td>
                        <form action="/solar/<%=solar[i].id%>?_method=DELETE" method="POST">
                            <input type="submit" value="DELETE"/>
                        </form>
                    </td>
                </tr>
            </tbody>

            <% } %>
        </table>
        <div class="totalWatts">
        <% let totalWatts = 0 %>
        <% for(let i = 0; i < solar.length; i++){ %>
            <%totalWatts=solar[i].watts + totalWatts%>
            <% } %>
            Total: <%=totalWatts%> Watts
        </div>
        </div>
        <form action="/sessions/destroy" method="POST">
            <input type="submit" value="Log Out">
        </form>
    </body>
</html>
