<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <h1>Solar Show Page</h1>
        <%=solar.applicancNamename%>
        <%=solar.watts%>.
        <% if(solar.watts === "") { %>
            <%=solar.watts%> = <%=solar.voltage%> x <%=solar.amps%>
        <% } else { %>
            <%=solar.watts%>
        <% } %>
        <nav>
            <a href="/solar">Back to Solar Index</a>
        </nav>
    </body>
</html>
