<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <% include ../partials/headerLoggedIn.ejs %>
                <% include ../partials/tabs.ejs %>

                <h3 class="solShowTitle">Your Calculated Watts</h3>

                <br>
                <p class="solarShow"><%=solar.applianceName%>: <br>
                <% if (solar.watts){ %>
                    <%=solar.watts%> watts. <br>
                    <%=solar.voltage%>V <br>
                    <%=solar.amps%>amps <br>

                <%}
                    else{%>

                        <%=solar.voltage%>V <br>
                        <%=solar.amps%>amps <br>
                        <% calcWatts = (solar.voltage * solar.amps)%>
                        Your Calculated watts are: <span class=bold><%=calcWatts%>watts</span>
                    </p>

                <%}%>


                <nav class="solShowBtn">
                    <button><a href="/solar">Back to my data table</a></button>
                </nav>
            </div>
        </div>

    <footer id="footer">
        <% include ../partials/footer.ejs %>
    </footer>
</body>

</html>
